.link_container__img{
    width: 80px;
    height: 80px;   
    right: var( --spacing-medium-very-large); 
    top: var(--spacing-big-large);
    cursor: pointer;
    transition: 0.3s;
    position: fixed;
   
   
}

.link_container__img:hover{
    transform: scale(1.1);
}