.episodes_container{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.episodes_container__content{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.episodes_container__li{
    list-style-type: none;
    padding-top: var(--spacing-medium);
    margin-left: 0 auto;
    text-align: left;  
}

.episodes_container__span{
    margin-right: var(--spacing-big-large);;
}

.episodes_container__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.episodes_container__p{
    font-size: 14px;
    font-weight: 500;
    padding: var(--spacing-small);   
    box-shadow: var(--box-shadow);
    background-color: transparent;
    text-align: center;
    background-color: var(--color-title);
    margin: var(--spacing-small);
}

