.episodes_container__conten{
    
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}


.episodes_container__li{
    list-style-type: none;
    margin-left: 0 auto;
    text-align: left; 
    display: flex;
	flex-direction: column;
         
}

.episodes_container__span{
    margin-right: var(--spacing-big-large);;
}

.episodes_container__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.episodes_container__p{
    font-size: 15px;
    font-weight: 500;
    margin: var(--spacing-small);
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-mediu);
}

