:root {
    /* color     */
    --bg-color: #b19696;
    --color-white: #fff;
    --color-black: #333;


    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
    --spacing-big-large: 50px;

    --border-radius-smal: 7px;
    --border-radius-medium: 20px;
    --border-radius-large: 30px;

    --box-shadow: 1px 5px 9px #746c6c;	
			
}

* {
    box-sizing: border-box;
}

body {	
    margin: 0;
	padding: 0;	    
	background-color: var(--bg-color);	
	background-size: cover;
	background-repeat: no-repeat;	
}
