.modal_container{
   display: none;
}

.modal_container__active{  
    width: 50%;
    height: 51vh;
    position: fixed;
    top: 20%;
    left: 0;
    background-color: var(--color-black );
    display: flex;  
    transform: translateX(50%);     
    justify-content: center;          
}

.modal_container__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.modal_container__content{
    margin-top: var(--spacing-medium); 
    padding: var(--spacing-large);
    border-radius: var(--border-radius-medium);  
    background-color: var(--color-white); 
    width: 96%;
    height: 47vh;    
}