.modal_container{
   display: none;   
}

.modal_container__active{  
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 0%;
    left: 0;
    background-color: var(--color-black );
    display: flex;  
    transform: translateY(10%);     
    justify-content: center;          
}

.modal_container__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.modal_container__content{
    margin-top: var(--spacing-medium);   
    border-radius: var(--border-radius-medium);  
    background-color: var(--color-white); 
    width: 98%;
    height: 77vh;  
    display: flex;
    flex-direction: row;  
         
}

.modal_container__personImg{
    position: relative;
    width: 100%;
    height: 77vh;   
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);      
    filter: opacity(50%);
}

.modal_container__li{
    padding-top: var(--spacing-big-large);    
    text-align: center;      
}

.modal_container__ul{
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    margin-left: 0 auto;
}

.modal_container__li{
    font-size: 25px;
    font-weight: bold;    
    background-color: white;
    display: flex;   
    list-style-type: none;
    text-align: center;
    width: 100%;    
}

.modal_container__span {
margin-right: var(--spacing-big-large);
}

.modal_container__span:last-child {
    margin-right: 0;
}




.modal_container__p{
    font-size: 20px;
    font-weight: 500;
}